@value primary-color, secondary-color from '../../settings.css';

.button {
  background: primary-color;
  color: #fff !important;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  &:hover {
    background: secondary-color !important;
  }
  &:disabled {
    background: #dddddd;
    border: 2px solid #dddddd;
  }
}
